.tagcloud-wrap {
  // background: gray;
  float: none;
  width: 100%;
  height: 420px;
  margin-top: 12px;

  .tagcloud {
    color: #ff4500;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 650;
    margin: 10% auto;
  }
  .tagcloud--item:hover {
    color: #00ff7f;
  }
}

.skills-page {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (max-width: 1024px) {
  .tagcloud-wrap {
    height: 320px;
    margin-top: 0;
  }
}
