.tagcloud-wrap {
  // background: gray;
  float: right;
  width: 53%;
  height: 115%;
  margin-top: -3%;

  .tagcloud {
    color: #ff4500;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 650;
    margin: 10% auto;
  }
  .tagcloud--item:hover {
    color: #00ff7f;
  }
}

@media screen and (max-width: 1024px) {
  .skills-page {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .tagcloud-wrap {
    float: none;
    width: 100%;
    height: 320px;
    margin-top: 0;
  }
}
