services:
  portfolio-frontend-build:
    image: node:20-slim
    container_name: portfolio-frontend-build
    working_dir: /app
    environment:
      - NODE_ENV=development
      - HOST=0.0.0.0
      - CHOKIDAR_USEPOLLING=true
    env_file:
      - .env
    volumes:
      - .:/app
    command: [ "sh", "-lc", "npm ci && npm run build" ]
